<app-particles> </app-particles>

<div class="tabs">
  <button class="btnVoltar" [routerLink]="['/index']">Voltar</button>
  <!-- <h1 class="header">Cadastro</h1> -->
  <input type="radio" id="tab1" name="tab-control" checked />
  <input type="radio" id="tab2" name="tab-control" />
  <input type="radio" id="tab3" name="tab-control" />
  <input type="radio" id="tab4" name="tab-control" />
  <ul>
    <li title="Cadastrar-se como empresa">
      <label for="tab1" role="button"
        ><svg viewBox="0 0 24 24">
          <path
            d="M17.283,5.549h-5.26V4.335c0-0.222-0.183-0.404-0.404-0.404H8.381c-0.222,0-0.404,0.182-0.404,0.404v1.214h-5.26c-0.223,0-0.405,0.182-0.405,0.405v9.71c0,0.223,0.182,0.405,0.405,0.405h14.566c0.223,0,0.404-0.183,0.404-0.405v-9.71C17.688,5.731,17.506,5.549,17.283,5.549 M8.786,4.74h2.428v0.809H8.786V4.74z M16.879,15.26H3.122v-4.046h5.665v1.201c0,0.223,0.182,0.404,0.405,0.404h1.618c0.222,0,0.405-0.182,0.405-0.404v-1.201h5.665V15.26z M9.595,9.583h0.81v2.428h-0.81V9.583zM16.879,10.405h-5.665V9.19c0-0.222-0.183-0.405-0.405-0.405H9.191c-0.223,0-0.405,0.183-0.405,0.405v1.215H3.122V6.358h13.757V10.405z"
          />
        </svg>
        <br /><span>Empresa</span></label
      >
    </li>
    <li title="Cadastrar-se como doador">
      <label for="tab2" role="button"
        ><svg viewBox="0 0 24 24">
          <path
            d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z"
          />
        </svg>
        <br /><span>Doador</span></label
      >
    </li>
    <li title="Cadastrar-se como ONG">
      <label for="tab3" role="button"
        ><svg viewBox="0 0 24 24">
          <path
            d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z"
          />
        </svg>
        <br /><span>Ong</span></label
      >
    </li>
  </ul>

  <div class="slider">
    <div class="indicator"></div>
  </div>

  <div class="content">
    <section>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form id="msform" [formGroup]="firstFormEmpresa" #f="ngForm">
            <fieldset>
              <div class="container">
                <mat-form-field appearance="outline">
                  <mat-label>Nome da Empresa</mat-label>
                  <input
                    matInput
                    placeholder="Nome da empresa"
                    formControlName="nomeEmpresa"
                    required
                  />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                  <mat-label>Razão Social</mat-label>
                  <input
                    matInput
                    placeholder="Razão social"
                    formControlName="razaoSocial"
                  />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                  <mat-label>CNPJ</mat-label>
                  <input
                    matInput
                    id="cnpj"
                    placeholder="CNPJ"
                    formControlName="cnpj"
                    required
                    [textMask]="{ mask: cnpj }"
                  />
                </mat-form-field>
                &nbsp;
                <div formGroupName="credenciais" style="float: left;">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      type="email"
                      placeholder="E-mail"
                      formControlName="login"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input
                      matInput
                      type="password"
                      placeholder="Senha"
                      formControlName="senha"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                </div>
                <mat-form-field appearance="outline">
                  <mat-label>Repita a senha</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Repita sua senha"
                    formControlName="repeteSenha"
                    required
                  />
                </mat-form-field>
              </div>
              <input
                [disabled]="
                  firstFormEmpresa.controls.nomeEmpresa.invalid &&
                  firstFormEmpresa.controls.cnpj.invalid &&
                  firstFormEmpresa.controls.repeteSenha.invalid
                "
                type="button"
                name="next"
                class="next action-button"
                value="Próximo"
              />
            </fieldset>
            <fieldset>
              <div class="container">
                <div formGroupName="endereco">
                  <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input
                      matInput
                      placeholder="CEP"
                      formControlName="cep"
                      required
                      name="cep"
                      (blur)="consultaCep($event.target.value, f)"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label> Rua </mat-label>
                    <input
                      matInput
                      placeholder="Rua"
                      formControlName="rua"
                      required
                      name="rua"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input
                      matInput
                      placeholder="Nº"
                      formControlName="numero"
                      required
                      name="numero"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input
                      matInput
                      placeholder="Estado"
                      formControlName="uf"
                      required
                      name="uf"
                    />
                    <!--                 <mat-label>UF</mat-label>
                <mat-select formControlName="uf" required id="estado">
                  <mat-option *ngFor="let item of states" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select> -->
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input
                      matInput
                      placeholder="Cidade"
                      formControlName="cidade"
                      required
                      name="cidade"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input
                      matInput
                      placeholder="Bairro"
                      formControlName="bairro"
                      required
                      name="bairro"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input
                      matInput
                      placeholder="Complemento"
                      formControlName="complemento"
                      name="complemento"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Referencia</mat-label>
                    <input
                      matInput
                      placeholder="Ponto de referência"
                      formControlName="referencia"
                    />
                  </mat-form-field>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voltar"
              />
              <input
                [disabled]="
                  firstFormEmpresa.get('endereco.cep').invalid &&
                  firstFormEmpresa.get('endereco.numero').invalid
                "
                type="button"
                name="next"
                class="next action-button"
                value="Próximo"
              />
            </fieldset>
            <fieldset>
              <div class="container">
                <div formGroupName="contato">
                  <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input
                      matInput
                      placeholder="Telefone"
                      formControlName="telefone"
                      required
                      id="telefone"
                      [textMask]="{ mask: telefone }"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input
                      matInput
                      id="celular"
                      placeholder="Celular"
                      formControlName="celular"
                      required
                      [textMask]="{ mask: celular }"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Email secundário</mat-label>
                    <input
                      matInput
                      placeholder="E-mail"
                      formControlName="email"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voltar"
              />
              <input
                type="submit"
                name="submit"
                class="submit action-button"
                value="Submit"
                (click)="onSubmit(f)"
              />
            </fieldset>
          </form>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form id="msform" [formGroup]="firstFormDoador" #d="ngForm">
            <fieldset>
              <div class="container">
                <mat-form-field appearance="outline">
                  <mat-label>Nome</mat-label>
                  <input
                    matInput
                    placeholder="Nome"
                    formControlName="nome"
                    required
                  />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                  <mat-label>CPF</mat-label>
                  <input
                    matInput
                    placeholder="CPF"
                    formControlName="cpf"
                    required
                    [textMask]="{ mask: cpf }"
                  />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                  <mat-label>Data de nascimento</mat-label>
                  <input
                    matInput
                    placeholder="Data de nascimento"
                    formControlName="dataNascimento"
                    required
                  />
                </mat-form-field>
                &nbsp;
                <mat-form-field
                  appearance="outline"
                  style="float: left; margin-right: 18px"
                >
                  <mat-label>Genero</mat-label>
                  <mat-select formControlName="sex" required>
                    <mat-option *ngFor="let item of sexo" [value]="item">
                      {{ item.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                &nbsp;
                <div formGroupName="credenciais">
                  <mat-form-field appearance="outline">
                    <mat-label>Email de login</mat-label>
                    <input
                      matInput
                      type="email"
                      placeholder="E-mail"
                      formControlName="login"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input
                      matInput
                      type="password"
                      placeholder="Senha"
                      formControlName="senha"
                      required
                    />
                  </mat-form-field>
                  &nbsp; &nbsp;
                  <!-- </div> -->
                </div>
                <mat-form-field appearance="outline">
                  <mat-label>Repetir senha</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Repita sua senha"
                    formControlName="repeteSenha"
                    required
                  />
                </mat-form-field>
              </div>
              <input
                type="button"
                name="next"
                class="next action-button"
                value="Próximo"
              />
            </fieldset>
            <fieldset>
              <div class="container">
                <div formGroupName="endereco">
                  <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input
                      matInput
                      placeholder="CEP"
                      formControlName="cep"
                      required
                      (blur)="consultaCep($event.target.value, d)"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Rua</mat-label>
                    <input
                      matInput
                      placeholder="Rua"
                      formControlName="rua"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input
                      matInput
                      placeholder="Nº"
                      formControlName="numero"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="uf" required>
                      <mat-option *ngFor="let item of states" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input
                      matInput
                      placeholder="Cidade"
                      formControlName="cidade"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input
                      matInput
                      placeholder="Bairro"
                      formControlName="bairro"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input
                      matInput
                      placeholder="Complemento"
                      formControlName="complemento"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Referencia</mat-label>
                    <input
                      matInput
                      placeholder="Ponto de referência"
                      formControlName="referencia"
                    />
                  </mat-form-field>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voltar"
              />
              <input
                type="button"
                name="next"
                class="next action-button"
                value="Próximo"
              />
            </fieldset>
            <fieldset>
              <div class="container">
                <div formGroupName="contato">
                  <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input
                      matInput
                      [textMask]="{ mask: telefone }"
                      placeholder="Telefone"
                      formControlName="telefone"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input
                      matInput
                      [textMask]="{ mask: celular }"
                      placeholder="Celular"
                      formControlName="celular"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Email secundário</mat-label>
                    <input
                      matInput
                      placeholder="E-mail"
                      formControlName="email"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voltar"
              />
              <input
                type="submit"
                name="submit"
                class="submit action-button"
                value="Submit"
                (click)="doadorSubmit(d)"
              />
            </fieldset>
          </form>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form id="msform" [formGroup]="firstFormOng" #o="ngForm">
            <fieldset>
              <div class="container">
                <mat-form-field appearance="outline">
                  <mat-label>Nome da ong</mat-label>
                  <input
                    matInput
                    placeholder="Nome da instituição"
                    formControlName="nomeInstituicao"
                    required
                  />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                  <mat-label>CNPJ</mat-label>
                  <input
                    matInput
                    placeholder="CNPJ"
                    formControlName="cnpj"
                    required
                    [textMask]="{ mask: cnpj }"
                  />
                </mat-form-field>
                <div formGroupName="credenciais">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      placeholder="E-mail"
                      type="email"
                      formControlName="login"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input
                      matInput
                      placeholder="Senha"
                      type="password"
                      formControlName="senha"
                      required
                    />
                  </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                  <mat-label>Repetir Senha</mat-label>
                  <input
                    matInput
                    placeholder="Repita sua senha"
                    type="password"
                    formControlName="repeteSenha"
                    required
                  />
                </mat-form-field>
              </div>
              <input
                type="button"
                name="next"
                class="next action-button"
                value="Próximo"
              />
            </fieldset>
            <fieldset>
              <div class="container">
                <div formGroupName="endereco">
                  <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input
                      matInput
                      placeholder="CEP"
                      formControlName="cep"
                      required
                      (blur)="consultaCep($event.target.value, o)"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Rua</mat-label>
                    <input
                      matInput
                      placeholder="Rua"
                      formControlName="rua"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input
                      matInput
                      placeholder="Nº"
                      formControlName="numero"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="uf" required>
                      <mat-option *ngFor="let item of states" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input
                      matInput
                      placeholder="Cidade"
                      formControlName="cidade"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input
                      matInput
                      placeholder="Bairro"
                      formControlName="bairro"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input
                      matInput
                      placeholder="Complemento"
                      formControlName="complemento"
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Referência</mat-label>
                    <input
                      matInput
                      placeholder="Ponto de referência"
                      formControlName="referencia"
                    />
                  </mat-form-field>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voltar"
              />
              <input
                type="button"
                name="next"
                class="next action-button"
                value="Próximo"
              />
            </fieldset>
            <fieldset>
              <div class="container">
                <div formGroupName="contato">
                  <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input
                      matInput
                      [textMask]="{ mask: telefone }"
                      placeholder="Telefone"
                      formControlName="telefone"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input
                      matInput
                      [textMask]="{ mask: celular }"
                      placeholder="Celular"
                      formControlName="celular"
                      required
                    />
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      placeholder="E-mail"
                      formControlName="email"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voltar"
              />
              <input
                type="submit"
                name="submit"
                class="submit action-button"
                value="Submit"
                (click)="ongSubmit(o)"
              />
            </fieldset>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
