<div class="box">
  <h2>Bem - Vindo!</h2>
  <h3>TechConnective</h3>

  <div class="menuzinho">
    <h1>Login</h1>
    <div class="usuario"></div>

    <form>
      <div class="form">
        <mat-form-field>
          <label> Usuário: </label>
          <input type="text" name="" placeholder="Login" />
        </mat-form-field>

        <!-- <label> Senha: </label> -->
        <input type="password" name="" placeholder="Senha" />

        <input type="submit" name="" value="Login" />

        <div>
          <a href="#"> Não tem conta? Cadastre-se</a><br />
          <a href="#"> Esqueceu sua senha? </a>
        </div>
      </div>
    </form>
  </div>
</div>
