.box {
    margin-top: 20px;
    height: 500px;
    width: 750px;
    border-radius: 10px;
    background-color: #82B8DF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

.menuzinho {
    height: 540px;
    width: 380px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: #f7f7f7;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 50px;
}

h1 {
    color: #82B8DF;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}


.form {
    padding-top: 150px;
}

.form div {
    text-align: center;
}

.form input {
    width: 100%;
}

.form mat-form-field {
    width: 100%;
    font-size: 16px;
}

.form input {
    top: 200px;
    /* height: 35px; */
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.form input[type="submit"] {
    margin-top: 10px;
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
    background: #82B8DF;
    border-radius: 20px;
    transition: 0.2s;
    font-size: 16px;
}

.form input[type="submit"]:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}

.form a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #82B8DF;
    transition: 0.2s;
}

.form a:hover {
    transition: 0.2s;
    color: #ff4d4d;
}