<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="msform" [formGroup]="form" #doacao="ngForm">
      <fieldset>
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
        <h2 class="fs-title">O que vai doar?</h2>
        <h3 class="fs-subtitle">Selecione uma opção:</h3>

        <div
          class="container"
          fxLayout="row"
          fxLayoutAlign="space-between start"
        >
          <mat-radio-group formControlName="tipo">
            <mat-radio-button *ngFor="let item of listItem" [value]="item.tipo">
              <img [src]="item.url" [matTooltip]="item.tipo" />
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
      </fieldset>
      <fieldset>
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
        <h2 class="fs-title">Detalhes da doação</h2>
        <h3 class="fs-subtitle">Preencha o formulário:</h3>

        <!--         <mat-form-field class="search" appearance="outline">
            <mat-label>Pesquisar ong's</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" />
          </mat-form-field> -->

        <div fxLayout="row" fxLayoutAlign="space-between start">
          <mat-form-field appearance="outline">
            <mat-label> Nome da ong </mat-label>
            <mat-select formControlName="nomeOng">
              <mat-option *ngFor="let item of listOng" [value]="item.nomeInst">
                {{ item.nomeInst }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          &nbsp;

          <mat-form-field appearance="outline">
            <mat-label>Descrição do produto</mat-label>
            <input
              matInput
              type="text"
              name="descricao"
              formControlName="descricao"
              required
            />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start">
          <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input
              matInput
              type="number"
              name="qtd"
              formControlName="qnt"
              required
            />
          </mat-form-field>

          &nbsp;

          <mat-form-field appearance="outline">
            <mat-label>Validade</mat-label>
            <input
              matInput
              readonly="true"
              [matDatepicker]="validade"
              name="validade"
              placeholder="Validade"
              formControlName="validade"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="validade"
            ></mat-datepicker-toggle>
            <mat-datepicker #validade></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Deixe um comentário...</mat-label>
          <textarea
            formControlName="comentario"
            matInput
            type="text"
            name="comentario"
            rows="3"
          ></textarea>
        </mat-form-field>

        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="submit"
          name="submit"
          class="submit action-button"
          value="Submit"
          (click)="onSubmit(doacao)"
        />
      </fieldset>
    </form>
  </div>
</div>
