<!-- MultiStep Form -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="msform" [formGroup]="form">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Tipo de doação</li>
        <li>Selecionando ONG</li>
        <li>Preenchendo formulário</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">O que deseja doar?</h2>
        <h3 class="fs-subtitle">Selecione uma opção:</h3>
        <div class="container">
<!--           <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face1.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input
                  type="radio"
                  formControlName="alimento"
                  [value]="alimento"
                />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face2.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input
                  type="radio"
                  [value]="higiene"
                  formControlName="higiene"
                />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face3.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input type="radio" [value]="roupa" formControlName="roupa" />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face4.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input
                  type="radio"
                  [value]="brinquedo"
                  formControlName="brinquedo"
                />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div> -->

          <!--           <div>Você doará: {{ favoriteSeason }}</div> -->
        </div>
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Para qual Ong dejesa doar?</h2>
        <h3 class="fs-subtitle">Selecione uma:</h3>

        <div class="container">
          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face1.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input
                  type="radio"
                  formControlName="alimento"
                  [value]="alimento"
                />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face1.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input
                  type="radio"
                  [value]="higiene"
                  formControlName="higiene"
                />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face1.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input type="radio" [value]="roupa" formControlName="roupa" />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="../assets/face1.jpg" />
                  <h3>Alimento</h3>
                </div>
              </div>
              <label>
                <input
                  type="radio"
                  [value]="brinquedo"
                  formControlName="brinquedo"
                />
                <div class="face face2">
                  <div class="content">
                    <p>
                      Doar alimento ajuda não só as pessoas com fome.
                    </p>
                  </div>
                </div>
              </label>
            </div>
          </div>

        </div>

        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Detalhe um pouco mais sobre a doação</h2>
        <h3 class="fs-subtitle">Preencha o formulário: </h3>
        <input type="text" name="tipo" placeholder="Descrição do produto" />
        <input type="number" name="qtd" placeholder="Quantidade" />
        <input type="date" name="validade" placeholder="Validade" />
        <input type="text" name="comentario" placeholder="Deixe um comentário..." />
        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="submit"
          name="submit"
          class="submit action-button"
          value="Submit"
        />

        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
      </fieldset>
    </form>
  </div>
</div>
<!-- /.MultiStep Form -->
