<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="msform" [formGroup]="form">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Tipo de doação</li>
        <li>Selecionando ONG</li>
        <li>Preenchendo formulário</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
        <h2 class="fs-title">O que vai doar?</h2>
        <h3 class="fs-subtitle">Selecione uma opção:</h3>

        <div class="container">
          <mat-radio-group formControlName="tipo">
            <mat-radio-button id="i1" value="alimento">
              <label for="i1"
                ><img src="../../assets/face1.jpg" alt="" matTooltip="Alimento"
              /></label>
            </mat-radio-button>
          </mat-radio-group>
          <!--           <input type="radio" id="i1" formControlName="tipo" value="alimento" />
          <label for="i1"><img src="../../assets/face1.jpg" alt="" matTooltip="Alimento"/></label>
          <input type="radio" id="i2" formControlName="tipo" value="roupa" />
          <label for="i2"><img src="../../assets/face2.jpg" alt="" matTooltip="Roupa"/></label>
          <input type="radio" id="i3" formControlName="tipo" value="higiene" />
          <label for="i3"><img src="../../assets/face3.jpg" alt="" matTooltip="Higiene"/></label>
          <input
            type="radio"
            id="i4"
            formControlName="tipo"
            value="brinquedo"
          />
          <label for="i4"><img src="../../assets/face4.jpg" alt="" matTooltip="Brinquedo"/></label> -->
        </div>
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
      </fieldset>
      <fieldset>
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
        <h2 class="fs-title">Para qual Ong dejesa doar?</h2>
        <h3 class="fs-subtitle">Selecione uma:</h3>

        <div class="container">
          <mat-radio-group formControlName="ong">
            <mat-radio-button *ngFor="let item of listOng" value="item">
              {{ item.nomeInst }}
            </mat-radio-button>
          </mat-radio-group>

          <pre> {{ ong | json }} </pre>
        </div>

        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
      </fieldset>
      <fieldset>
        <button class="btnVoltar" [routerLink]="['/home']">Cancelar</button>
        <h2 class="fs-title">Detalhes da doação</h2>
        <h3 class="fs-subtitle">Preencha o formulário:</h3>

        <input
          type="text"
          name="descricao"
          placeholder="Descrição do produto"
          formControlName="descricao"
          required
        />
        <input
          type="number"
          name="qtd"
          placeholder="Quantidade"
          formControlName="qnt"
          required
        />
        <input
          type="date"
          name="validade"
          placeholder="Validade"
          formControlName="validade"
          required
        />
        <input
          type="text"
          name="comentario"
          placeholder="Deixe um comentário..."
        />
        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="submit"
          name="submit"
          class="submit action-button"
          value="Submit"
        />
      </fieldset>
    </form>
  </div>
</div>
