.content {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/img1.png');
  background-repeat: no-repeat;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.buttons h1 {
  font-size: 45px;
}

.buttons h4 {
  font-size: 20px;
}

a {
  background: transparent;
  color: rgb(5, 5, 5);
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}

a:hover {
  color: #01a9db;
}

.btn {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

p {
  font-family: 'Bahnschrift';
  font-size: 25px!important;
}

@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}

.btn:hover {
  text-decoration: none;
}

.btn-1 {
  font-weight: 100;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #01a9db;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

body {
  background: rgb(240, 240, 240);
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  padding-top: 90px;
}

.anchor {
  display: block;
}

.title {
  font-weight: bold;
  position: relative;
  display: block;
  top: -50px;
  padding: 20px 0;
  font-size: 1.9em;
}

.title:before {
  font-size: 1.5em;
  content: "\005B";
}

.title:after {
  font-size: 1.5em;
  content: "\005D";
}

.page-divider {
  margin: 0 auto;
  width: 100%;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

.page {
  min-width: 200px;
  padding: 50px 100px;
}

.page p {
  font-size: 16px;
}

footer {
  min-height: 200px;
  padding: 40px;
}

footer p {
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -o-column-count: 2;
  -o-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}

.fotinho {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #01a9db;
}

.voluntario {
  height: 50px;
  width: 50px;
  background: #01a9db;
  border-radius: 50%;
}

/* .voluntario img {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/./carrocel/voluntariado.jpg");
  background-repeat: no-repeat;
} */

.container div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.container .opc2 p {
  max-width: 200px;
  text-align: left;
}

.separation {
  margin-left: 150px;
}

.separation2 {
  margin-right: 150px;
}

.paragrafo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.paragrafo h1 {
  font-size: 45px;
}

.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}

.accordion ul li:nth-child(1) {
  background-image: url("../../assets/carrocel/01.png");
}

.accordion ul li:nth-child(2) {
  background-image: url("../../assets/carrocel/c484b7724fa6694b223912dc65c825b7.jpg");
}

.accordion ul li:nth-child(3) {
  background-image: url("../../assets/carrocel/DIA_DE_DOAR_05_NOV-copiar.jpg");
}

.accordion ul li:nth-child(4) {
  background-image: url("../../assets/carrocel/photo_2019-11-04_14-35-20.jpg");
}

.accordion ul li:nth-child(5) {
  background-image: url("../../assets/carrocel/IMG_6945.jpeg");
}

.accordion ul li:nth-child(6) {
  background-image: url("../../assets/carrocel/souc_2020_ggg.jpg");
}

.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}

.accordion ul li:focus {
  outline: none;
}

.accordion ul:hover li:hover, .accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 60%;
}

.accordion ul:hover li:hover a, .accordion ul li:focus a, .accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a *, .accordion ul li:focus a *, .accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul:hover li {
  width: 8% !important;
}

.accordion ul:hover li a * {
  opacity: 0 !important;
}

.accordion ul:hover li:hover {
  width: 60% !important;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}

.about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
}

.about a {
  color: blue;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

.containers {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }
  .gallery, .gallery-item {
    margin: 0;
  }
}

footer {
  height: 200px;
}

.footer {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer h1 {
  font-size: 30px;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-list-top {
  width: 33.333%;
}

.footer-list-top>li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  border-top: 1px solid #424242;
  width: calc(100% - 80px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #e0e0e0;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: rgb(53, 53, 53);
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap>a {
  font-size: 3em;
}

.footer-social-overlap>a:not(:first-child) {
  margin-left: 0.38em;
}

.link {
  color: #01a9db;
}

.link:hover {
  color: crimson;
}
