.list {
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.list li {
    list-style-type: none;
    width: 280px;
    height: 370px;
    opacity: .25;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    border-radius: 2px;
    background: #9C89B8;
    transition: transform 1s, opacity 1s;
}

.list .act {
    opacity: 1;
}

.list .prev, .list .next {
    cursor: pointer;
}

.list .prev {
    transform: translateX(-220px) scale(.85);
}

.list .next {
    transform: translateX(220px) scale(.85);
}