.action {
    position: absolute;
    top: 50%;
    left: 10%;
}

h4 {
    padding-left: 25px;
}

input[type="button"] {
    border: none;
    border: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    border-radius: 18px 18px 18px 18px;
    margin-left: 10px;
    padding: 0 15px;
    padding-right: 10px;
}

input[type="button"]:hover {
    background: #5eb1f5;
    color: black;
}
