/* .box {
    background: blue;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
}

.box carousel {
    margin: 0 auto;
    justify-content: center;
}

carousel {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
 */
