<body>
  <div class="content">
    <div class="page" id="page1">
      <div class="buttons">
        <h4>Soluções em tecnologia</h4>
        <h1>TECHCONNECTIVE</h1>
        <div class="container">
          <a [routerLink]="['/cadastro']" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>
            CADASTRE-SE
          </a>

          <a [routerLink]="['/login']" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>
            LOGIN
          </a>
        </div>
      </div>
    </div>

    <div class="page-divider pgd1"></div>

    <div class="page" id="page2">
      <div class="paragrafo">
        <h1>SOBRE NÓS</h1>
      </div>

      <div class="container">
        <div>
          <div class="fotinho"></div>
          <span>Somos um time!</span>
        </div>
        <div>
          <div class="fotinho"></div>
          <span>Acreditamos no futuro do nosso pais!</span>
        </div>
        <div>
          <div class="fotinho"></div>
          <span>Amar ao próximo é essencial</span>
        </div>
      </div>

      <p>
        A TechConnective identificou que nos últimos anos as instituições sem
        fins lucrativos (ONGs) em todo mundo, tem se esforçado para
        conscientizar o público sobre a importância de se fazer doações.
        Pensando nisso a TechConnective propõe um sistema que irá auxiliar na
        arrecadação e distribuição de doações, promovendo um maior controle e
        gestão para as instituições que necessitam deste serviço. Será uma ótima
        ferramenta para qualquer ONG ou fundação que já contribui ou que deseja
        se desenvolver na expansão desse assunto de grande impacto social.
      </p>

      <div class="paragrafo">
        <h1>Temos PARCERIAS com as maiores</h1>
        <h1>ONG's</h1>
      </div>
    </div>

    <div class="accordion">
      <ul>
        <li tabindex="1">
          <div>
            <a href="#">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </li>
        <li tabindex="2">
          <div>
            <a href="#">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </li>
        <li tabindex="3">
          <div>
            <a href="#">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </li>
        <li tabindex="4">
          <div>
            <a href="#">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </li>
        <li tabindex="5">
          <div>
            <a href="#">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </li>
        <li tabindex="6">
          <div>
            <a href="#">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="page-divider pgd2"></div> -->

    <div class="page" id="page3">
      <a class="anchor"></a>

      <div class="paragrafo">
        <h1>COMO DOAR</h1>
        <h4>Você pode ajudar de várias formas</h4>
      </div>

      <div class="container">
        <div class="separation">
          <div class="opc1">
            <div class="fotinho"></div>
          </div>

          <div class="opc2">
            <h3>Doação</h3>
            <span
              >Você pode doar de várias formas, nos ajudando com alimentos,
              higienização ou roupas. Clique <a href="">aqui</a> e saiba mais!
            </span>
          </div>
        </div>

        <div>
          <div class="opc1">
            <div class="fotinho"></div>
          </div>

          <div class="opc2">
            <h3>Voluntariado</h3>
            <span>
              Recebemos a ajuda não só de profissionais especializados, mas
              também de pessoas que queiram contribuir e de ong’s.
            </span>
          </div>
        </div>
      </div>

      <div class="paragrafo">
        <h1>FOTOS</h1>
        <h4>Veja algumas de nossas fotos</h4>
      </div>

      <div class="containers">
        <div class="gallery">
          <div class="gallery-item">
            <img
              class="gallery-image"
              src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop"
              alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer"
            />
          </div>

          <div class="gallery-item">
            <img
              class="gallery-image"
              src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop"
              alt="sunset behind San Francisco city skyline"
            />
          </div>

          <div class="gallery-item">
            <img
              class="gallery-image"
              src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop"
              alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan"
            />
          </div>

          <div class="gallery-item">
            <img
              class="gallery-image"
              src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=500&h=500&fit=crop"
              alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night"
            />
          </div>

          <div class="gallery-item">
            <img
              class="gallery-image"
              src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?w=500&h=500&fit=crop"
              alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA"
            />
          </div>

          <div class="gallery-item">
            <img
              class="gallery-image"
              src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop"
              alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
  <div class="footer">
    <h1>TECHCONNECTIVE</h1>
    <h5>© 2019 TECHCONNECTIVE Brasil</h5>
  </div>

  <section class="footer-social-section flex-rw">
    <span class="footer-social-overlap footer-social-connect">
      ENTRAR <span class="footer-social-small">em</span> CONTATO
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
      <a
        href="https://www.pinterest.com/paviliongift/"
        class="generic-anchor"
        target="_blank"
        title="Pinterest"
        itemprop="significantLink"
        ><i class="fa fa-pinterest"></i
      ></a>
      <a
        href="https://www.facebook.com/paviliongift"
        class="generic-anchor"
        target="_blank"
        title="Facebook"
        itemprop="significantLink"
        ><i class="fa fa-facebook"></i
      ></a>
      <a
        href="https://twitter.com/PavilionGiftCo"
        class="generic-anchor"
        target="_blank"
        title="Twitter"
        itemprop="significantLink"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        href="http://instagram.com/paviliongiftcompany"
        class="generic-anchor"
        target="_blank"
        title="Instagram"
        itemprop="significantLink"
        ><i class="fa fa-instagram"></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg"
        class="generic-anchor"
        target="_blank"
        title="Youtube"
        itemprop="significantLink"
        ><i class="fa fa-youtube"></i
      ></a>
      <a
        href="https://plus.google.com/+Paviliongift/posts"
        class="generic-anchor"
        target="_blank"
        title="Google Plus"
        itemprop="significantLink"
        ><i class="fa fa-google-plus"></i
      ></a>
    </span>
  </section>
</footer>
