<!-- MultiStep Form -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Your Details</li>
        <li>Social Profiles</li>
        <li>Account Setup</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">O que deseja doar?</h2>
        <h3 class="fs-subtitle">Selecione uma opção:</h3>
        <div class="container">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img src="../assets/face1.jpg" />
                <h3>Alimento</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>
                  Doar alimento ajuda não só as pessoas com fome.
                  <input type="button" value="Selecionar" />
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="face face1">
              <div class="content">
                <img src="../assets/face1.jpg" />
                <h3>Higiene Pessoal</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>
                  Doar alimento ajuda não só as pessoas com fome.
                  <input type="button" value="Selecionar" />
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="face face1">
              <div class="content">
                <img src="../assets/face1.jpg" />
                <h3>Roupas</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>
                  Doar alimento ajuda não só as pessoas com fome.
                  <input type="button" value="Selecionar" />
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="face face1">
              <div class="content">
                <img src="../assets/face1.jpg" />
                <h3>Brinquedos</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>Doar alimento ajuda não só as pessoas com fome.</p>
                <input type="button" value="Selecionar" />
              </div>
            </div>
          </div>
        </div>
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        <input type="text" name="twitter" placeholder="Twitter" />
        <input type="text" name="facebook" placeholder="Facebook" />
        <input type="text" name="gplus" placeholder="Google Plus" />
        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle">Fill in your credentials</h3>
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="pass" placeholder="Password" />
        <input type="password" name="cpass" placeholder="Confirm Password" />
        <input
          type="button"
          name="previous"
          class="previous action-button-previous"
          value="Previous"
        />
        <input
          type="submit"
          name="submit"
          class="submit action-button"
          value="Submit"
        />
      </fieldset>
    </form>
  </div>
</div>
<!-- /.MultiStep Form -->
