/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #e0e0e0;
}

.dialog-css .mat-dialog-container {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0 auto;
    color: #0044ff;
}

.backDrop {
    opacity: 0.0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}