<!-- <mat-toolbar>

  <img src="../../assets/logo.png" />

  <h2>TechConnective</h2>

  <button class="doar" [routerLink]="['/doacao']">Doar</button>
</mat-toolbar> -->

<mat-toolbar>
  <img src="../../assets/logo.png" />
  &nbsp; &nbsp;
  <span>TechConnective</span>
  <span class="example-spacer"></span>
  <button *ngIf="isAuth" class="doar" [routerLink]="['/doacao']">Doar</button>
</mat-toolbar>

<nav class="main-menu" *ngIf="isAuth">
  <ul>
    <li>
      <a
        [routerLink]="['/home']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exect: true }"
      >
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Inicio
        </span>
      </a>
    </li>

    <li class="has-subnav">
      <a [routerLink]="['/doubts']" routerLinkActive="active">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
          Como doar
        </span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
          Minhas doações
        </span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/doacao']">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
          Doar
        </span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-user fa-2x"></i>
        <span class="nav-text">
          Perfil
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-calendar fa-2x"></i>
        <span class="nav-text">
          Eventos
        </span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
          Encontrar
        </span>
      </a>
    </li>

    <li>
      <a style="cursor: pointer" (click)="customerService.logout()">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Sair
        </span>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
