table {
  width: 100%;
}

@-webkit-keyframes grow-bar {
  0% {
    flex-basis: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes grow-bar {
  0% {
    flex-basis: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes grow-width {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes grow-width {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes fade-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

@keyframes fade-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

.grid {
  position: absolute;
  color: rgba(0, 0, 0, 0.87);
  margin: 1vw;
  padding: 1vw;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.grid-updating, .grid:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.grid-white {
  background: #fff;
}

.grid-red {
  background: #fff;
}

.grid-orange {
  background: #FF9800;
}

.grid-blue {
  background: #03A9F4;
}

.grid-a1-a2 {
  left: 6.5%;
  right: 50%;
}

.grid-b1-b1 {
  left: 50%;
  right: 0%;
  top: 64.5%;
}

.grid-b2-c2 {
  left: 6.5%;
  right: 0%;
  bottom: 0%;
}

.grid-c1-c1 {
  left: 50%;
  right: 0%;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-row {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

/* .grid-b2-c2 img {
  width: 50px;
  height: 50px;
} */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);

  overflow: hidden;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  width: 250px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
